.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 180px;
}

.filtersContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--text-color);
  font-size: 40px;
  font-family: Raleway, sans-serif;
  margin: 0;
}

.filterWrapper {
  display: flex;
  gap: 30px;
}

.filter {
  position: relative;
}

.filterTitle {
  color: var(--text-color);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  cursor: pointer;
}

.filterTitle:hover {
  color: var(--blue);
}

.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid 1px;
  border-width: 0 2px 2px 0;
  margin-left: 10px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  color: var(--blue);
}

.openArrow {
  transform: rotate(-135deg);
}

.dropdown {
  display: none;
  position: absolute;
  top: 25px;
  right: 0;
  color: var(--text-color);
  background-color: var(--main-color);
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
}

.dropdown.open {
  display: block;
}

label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: var(--main-color); 
  border: 1px solid var(--blue);
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: var(--blue); 
  border-color: var(--blue);
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 6px;
  border-left: 3px solid var(--main-color); 
  border-bottom: 3px solid var(--main-color); 
  transform: rotate(-45deg);
}

.searchContainer {
  margin-top: 20px;
}

.searchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: var(--grey-text);
}

.selectedFiltersContainer {
  display: flex;
  justify-content: flex-start;
  background-color: var(--grey);
  color:var(--text-color);
  padding: 10px;
  border-radius: 4px;
  align-items: center;
}

.selectedFilters {
  margin-left: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.selectedFilter {
  background-color: var(--main-color);
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.removeFilterBtn {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 18px;
  margin-right: 5px;
  cursor: pointer;
}