.hdr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  padding: 10px 180px;
}

.info {
  display: flex;
  align-items: center;
  gap: 64px;
}

.contact {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  margin-left: 10px;
  color: var(--text-color);
}
