body {
  --blue: #155da4;
  --dark-blue: #0f3e6c;
  --main-color: #ffffff;
  --box-shadow: 0 4px 8px rgba(57, 113, 164, 0.25);
  --text-color: #292929;
  --text-grey:#B0B0B0;
  --grey: #F2F2F2;
  --dark-grey: #909090;

  transition: background-color 0.5s ease, color 0.5s ease;
  background-color: var(--main-color);
}

.dark-theme {
  --blue: #155da4;
  --dark-blue: #0f3e6c;
  --main-color: #292929;
  --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  --text-color: #F5F5F5;
  --text-grey:#B0B0B0;
  --grey: #3E3E3E;
  --dark-grey: #909090;


  background-color: var(--main-color);
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

input,
button,
textarea,
select {
  border: none;
  outline: none;
  background: none;
}

button {
  background: transparent;
  cursor: pointer;
}

body {
  font-family: "Raleway", sans-serif;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}
