:root {
  --blue: #155da4;
  --dark-blue: #0f3e6c;
  --grey: #f2f2f2;
  --dark-grey: #3e3e3e;
  --black: #292929;
  --grey-text: #b0b0b0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

input,
button,
textarea,
select {
  border: none;
  outline: none;
  background: none;
}

button {
  background: transparent;
  cursor: pointer;
}

body {
  font-family: "Raleway", sans-serif;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}
